.groupname i {
    margin-left: 1em;
    height: 1.5em;
    color: #9EC1A3;
    transition: 0.2s ease-in-out all;
}

.groupname i:hover {
    cursor: pointer;
    color: #4c9f70;
}

.groupInfo h3 {
    margin: 2em 0 0.5em;
}

.results {
    width: 20%;
    margin-top: 1em;
}

@media only screen and (max-width: 768px) {
    .results {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .results {
        width: 100%;
    }
}