.userinfo-page {
    width: 60%;
}

.userinfo-page form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.userinfo-page h1 {
    margin: 25px 0;
}

.userinfo-page button[type="submit"] {
    align-self: center;
}

.userinfo-page button#userinfo-logout {
    margin: 50px 0;
    align-self: center;
}

.userinfo-error {
    margin-bottom: 2em;
    align-self: center;
}

@media only screen and (max-width: 1200px) {
    .userinfo-page {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .userinfo-page {
        width: 90%;
    }

    .userinfo-page form {
        margin: 0 25px;
    }
}