.invite > * > * {
    margin-bottom: 0.5em;
}

.invite h2 {
    font-size: 1em;
}

.invite em {
    min-width: 80px;
}

.invite p {
    display: flex;
}

.invite button {
    font-size: 80%;
}

.invite div:last-of-type {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 1em;
}

.invite div button:first-of-type {
    margin-right: 2em;
}