.groupItem {
    padding: 20px;
    margin: 20px;
    border: #9EC1A3 2px solid;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

.groupItem p:first-of-type {
    font-size: 110%;
    margin-bottom: 0.5em;
}

.groupItem a {
    font-size: 90%;
    margin-top: 0.5em;
    width: fit-content;
    align-self: flex-end;
}