.groupItem a {
    font-size: 90%;
    margin-top: 0.5em;
    width: fit-content;
    align-self: flex-end;
}

.groupItem > div {
    display: flex;
    flex-direction: column;
}

.groupItem .match {
    margin-top: 20px;
}
