.userResultItem {
    border: #9EC1A3 1px solid;
}

.userResultItem div p:first-of-type {
    margin-bottom: 7px;
}

.userResultItem button {
    margin-top: 1em;
    align-self: center;
    font-size: 90%;
}