.userResultItem {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: #9EC1A3 1px solid;
    border-radius: 2px;
    padding: 20px;
    margin: 20px 0;
    justify-content: space-between;
}

.userResultItem button {
    margin-top: 1em;
    align-self: center;
    font-size: 90%;
}

.userResultItem:nth-child(odd) {
    margin-right: 10px;
}

.userResultItem:nth-child(even) {
    margin-left: 10px;
}