@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #101D21;
}

body {
    min-height: 100vh;
}

p.warning {
    color: #ECA400;
    margin-bottom: 20px;
    font-size: 90%;
    font-weight: bolder;
}

p.error {
    color: #ff0033;
    font-size: 90%;
    font-weight: bolder;
}

p.disabled {
    color: gray;
}

button {
    background-color: #4C9F70;
    color: white;
    padding: 10px 20px;
    border: 2px solid #4C9F70;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    width: fit-content;
    margin: 0;
}

button.secondary {
    background-color: #9EC1A3;
    border-color: #9EC1A3;
}

button.inverse {
    background-color: white;
    color: #4C9F70;
}

button.negative {
    background-color: white;
    color: #ff0033;
    border: 2px solid #ff0033;
}

button.remove {
    border-width: 1px;
    text-align: center;
    padding: 5px 10px;
    margin-right: 0.5em;
    font-size: 90%;
}

button:hover {
    cursor: pointer;
}

label {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

input, textarea {
    border: 1px #9EC1A3 solid;
    font-size: 16px;
    padding: 8px;
    border-radius: 1px;
    margin: 8px 0;
}

textarea {
    resize: vertical;
    min-height: 90px;
    max-height: 180px;
    margin-bottom: 12px;
}

input:focus, textarea:focus {
    outline: 2px #4C9F70 solid;
}

hr {
    border-top: rgba(158, 193, 163, 0.5) 1px solid;
}

ul {
    padding: 0;
}

a {
    width: fit-content;
}

.pageHeader {
    height: 15vh;
    width: 100%;
}

.pageHeader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.breadcrumbs {
    margin: 25px 0;
    width: fit-content;
}

.success {
    background: #9EC1A3;
    padding: 1em;
    color: white;
    border: 1px solid #4C9F70;
    margin-bottom: 2em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 1000px) {
    .pageContent {
        width: 90%;
    }
}
