.matchItem {
    padding: 20px;
    margin: 20px;
    border: #9EC1A3 2px solid;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}